@use "@styles/abstracts/_functions.scss" as f;
@use "@styles/abstracts/_variables.scss" as v;
@use "@styles/abstracts/_mixins.scss" as m;

.button {
  cursor: pointer;
  border: 0;
  outline: 0;

  &Aerial {
    background-color: rgba(255 255 255 / 40%);
    box-shadow: inset 0 0 0.5rem 0.1rem rgb(255 255 255 / 60%);

    &:hover {
      background-color: rgba(255 255 255 / 60%);
    }
  }

  &Levitating {
    transition: box-shadow 0.2s ease-out;

    &:hover {
      box-shadow: 0 f.ptr(4px) f.ptr(12px) v.$sWhite5;
      transition: box-shadow 0.4s ease-in;
    }
  }

  &RoundedS {
    border-radius: 5% / 25%;
  }

  &Rounded {
    border-radius: 50%;
  }

  &Primary {
    @include m.flex(center);

    $c0: rgb(73 163 247);
    $c1: rgb(56 121 249);

    background-image: linear-gradient(95.73deg, $c0 0, $c1 100%);
    color: v.$pWhite;
    font-weight: 600;
    overflow: hidden;
    transition: background-image 0.3s linear;
    box-shadow: inset 0 0 f.ptr(8px) v.$pBlue;

    &:hover{
      background-image: linear-gradient(95.73deg, $c1 0, $c1 100%);
      transition: background-image 0.3s linear;
    }

    &Disabled {
      $disabled: #ccc;

      border: f.ptr(1px) solid #999;
      color: #666;
      background-image: linear-gradient(95.73deg, $disabled 0, $disabled 100%);

      &:hover {
        background-image: linear-gradient(95.73deg, $disabled 0, $disabled 100%);
      }
    }
  }

  &Disabled {
    cursor: wait;
  }

  &Outlined {
    @include m.solidBorder(v.$sWhite3, 1px);

    background-color: transparent;
  }
}

.infobutton {
  @include m.flex;

  &Icon {
    @include m.rectangle(f.ptr(36px), f.ptr(36px));

    &Cart {
      @include m.rectangle(1.5rem, 1.5rem);

      color: v.$sBrown1;
    }
  }

  &Body {
    @include m.flexColumn(space-between, flex-start);

    row-gap: 5px;
  }

  &Title {
    font-size: f.ptr(14px);
    font-weight: bold;
    color: v.$pWhite;
    line-height: 1;

    &Cart {
      color: v.$pBrown;
    }
  }

  &Description {
    font-weight: normal;
    font-size: f.ptr(11px);
    color: v.$sWhite1;
    line-height: 1;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      right: 0;
      height: f.ptr(1px);
      background-color: v.$sWhite1;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    &Cart {
      color: v.$pBrown4;
      font-weight: bold;
    }
  }

  &:hover &Description {
    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      right: 0;
      height: f.ptr(1px);
      background-color: v.$sWhite1;
      transform: scale(1, 1);
      transition: transform 0.3s ease-in-out;
    }
  }
}
