@use "@styles/abstracts/_functions.scss" as f;
@use "@styles/abstracts/_variables.scss" as v;
@use "@styles/abstracts/_mixins.scss" as m;
@use "@styles/abstracts/_keyframes.scss" as k;

.button {
  cursor: pointer;
  border: 0;
  outline: 0;

  &Aerial {
    background-color: rgba(255 255 255 / 40%);
    box-shadow: inset 0 0 0.5rem 0.1rem rgb(255 255 255 / 60%);

    &:hover {
      background-color: rgba(255 255 255 / 60%);
    }
  }

  &Levitating {
    transition: box-shadow 0.2s ease-out;

    &:hover {
      box-shadow: 0 f.ptr(4px) f.ptr(12px) v.$sWhite5;
      transition: box-shadow 0.4s ease-in;
    }
  }

  &RoundedS {
    border-radius: 5% / 25%;
  }

  &Rounded {
    border-radius: 50%;
  }

  &Primary {
    @include m.flex(center);

    $c0: rgb(73 163 247);
    $c1: rgb(56 121 249);

    background-image: linear-gradient(95.73deg, $c0 0, $c1 100%);
    color: v.$pWhite;
    font-weight: 600;
    overflow: hidden;
    transition: background-image 0.3s linear;
    box-shadow: inset 0 0 f.ptr(8px) v.$pBlue;

    &:hover{
      background-image: linear-gradient(95.73deg, $c1 0, $c1 100%);
      transition: background-image 0.3s linear;
    }
  }

  &Secondary {
    font-weight: 700;
    color: v.$pWhite;
    line-height: 1;
    letter-spacing: f.ptr(0.24px);
    background-image: linear-gradient(45deg, #ffee34 30%, #0BD800 60%, #045200 100%);
    background-size: 300% 100%;
    background-position: 70%;
    transition: background-position 0.5s ease-in, color 0.2s linear;

    &:hover {
      background-position: 0;
      color: v.$sBlack;
      transition: background-position 0.65s cubic-bezier(0,.27,.83,.99), color 0.2s linear;
    }
  }

  &Awaiting {
    cursor: wait;
  }

  &Disabled {
    cursor: not-allowed;
  }

  &DisabledGray {
    $disabled: #ccc;

    border: f.ptr(1px) solid #999;
    color: #666;
    background-image: linear-gradient(95.73deg, $disabled 0, $disabled 100%);

    &:hover {
      background-image: linear-gradient(95.73deg, $disabled 0, $disabled 100%);
    }
  }

  &Outlined {
    @include m.solidBorder(v.$sWhite3, 1px);

    background-color: transparent;
  }
}

.purchasebutton {
  @include m.flex(center);

  $enterTransition: all 0.45s cubic-bezier(0,.27,.83,.99);
  $exitTransition: all 0.5s ease-in;

  position: relative;
  overflow: hidden;

  &Body {
    @include m.flex(center);

    width: 50%;
    position: relative;
  }

  &Icon {
    position: absolute;
    left: -110%;
    transition: $exitTransition;

    &Spinning {
      @include k.spinAroundBack;

      animation: spinAroundBack 0.5s linear forwards;
    }

    &Medium {
      @include m.rectangle(f.ptr(20px), f.ptr(20px));
    }
  }

  &:hover &Icon {
    left: 2%;
    transition: $enterTransition;
  }

  &:hover &IconSpinning {
    @include k.spinAround;

    animation: spinAround 0.45s linear forwards;
  }

  &Text {
    text-transform: capitalize;
    transition: $exitTransition;
  }

  &:hover &Text {
    transform: translate(15%);
    transition: $enterTransition;
  }

}

.infobutton {
  @include m.flex;

  &Icon {
    @include m.rectangle(f.ptr(36px), f.ptr(36px));

    &Cart {
      @include m.rectangle(1.5rem, 1.5rem);

      color: v.$sBrown1;
    }
  }

  &Body {
    @include m.flexColumn(space-between, flex-start);

    row-gap: 5px;
  }

  &Title {
    font-size: f.ptr(14px);
    font-weight: bold;
    color: v.$pWhite;
    line-height: 1;

    &Cart {
      color: v.$pBrown;
    }
  }

  &Description {
    font-weight: normal;
    font-size: f.ptr(11px);
    color: v.$sWhite1;
    line-height: 1;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      right: 0;
      height: f.ptr(1px);
      background-color: v.$sWhite1;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    &Cart {
      color: v.$pBrown4;
      font-weight: bold;
    }
  }

  &:hover &Description {
    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      right: 0;
      height: f.ptr(1px);
      background-color: v.$sWhite1;
      transform: scale(1, 1);
      transition: transform 0.3s ease-in-out;
    }
  }
}
