@use "functions" as f;

$text: rgb(16 16 16);
$breakpoints: (
        mobile: 414px,
        tablet: 768px,
        laptop: 1024px,
        laptoplarge: 1440px,
);
$pWhite: rgb(253 255 255);
$sWhite: rgb(243 245 245);
$sWhite1: rgb(238 240 240);
$sWhite2: rgb(223 225 225);
$sWhite3: rgb(208 210 210);
$sWhite4: rgb(193 195 195);
$sWhite5: rgb(178 180 180);
$pBlack: rgb(0 0 0);
$sBlack: rgb(8 8 8);
$sBlack1: rgb(16 16 16);
$sBlack2: rgb(32 32 32);
$sBlack3: rgb(44 44 44);
$sBlack4: rgb(64 64 64);
$sBlack5: rgb(80 80 80);
$sBlack6: rgb(96 96 96);
$sBlack7: rgb(128 128 128);
$sBlack8: rgb(160 160 160);
$tgColor: rgb(34 158 217);
$pBlue: rgb(1 42 74);
$sBlue: rgb(1 58 99);
$sBlue1: rgb(1 73 124);
$sBlue2: rgb(1 79 134);
$sBlue3: rgb(42 111 151);
$sBlue4: rgb(44 125 160);
$sBlue5: rgb(70 143 175);
$sBlue6: rgb(97 165 194);
$sBlue7: rgb(137 194 217);
$sBlue8: rgb(169 214 229);
$pBrown: rgb(100 65 78);
$pBrown1: rgb(110 75 88);
$pBrown2: rgb(120 85 98);
$pBrown3: rgb(130 95 108);
$pBrown4: rgb(140 105 118);
$sBrown: rgb(90 55 68);
$sBrown1: rgb(80 45 58);
$sBrown2: rgb(70 35 48);
$sBrown3: rgb(60 25 38);
$sBrown4: rgb(50 15 28);
$header: (
  rowgap: 32px,
  infopanel: f.ptr(48px),
  search: f.ptr(56px),
  shoppingpanel: f.ptr(64px)
);
$headerHeight: f.ptr(200px);