@use '@styles/abstracts/_mixins.scss' as m;

html {
  @include m.blockReposition;

  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: calc(0.3125vw + 10px);
  overflow-x: hidden;
  font-family:
          Montserrat,
          "Concert One",
          -apple-system,
          sans-serif;
  font-feature-settings: "pnum" on, "lnum" on;
  transition: all 0.3s ease-in-out;
}

html,
body {
  background-color: rgb(255 255 255);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}